@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/src/assets/smartphone-unsplash.jpeg');
  background-position: bottom;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.4);
}
